
main {
    padding: 10px;
    display: flex;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 14px;
}

label {
    font-weight: bold;
}

div {
    padding-bottom: 4px;
}

h2 {
    bacKground-color: #D9EDF7;
    color: #286090;
    margin: 0;
    padding: 12px;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
}

.campoTexto {
    width: 90%;
    padding: 8px 8px;
    margin: 5px 0px;
    box-sizing: #D9EDF7;
    border-radius: 4px;
}

.botao {
    background-color: #51aeff;
    border: 2px solid #AEA8D3;
	color: #FFF;
    text-align:center;
    border-radius: 4px;
    padding: 10px 20px;
    margin-bottom: 10px;
    margin-top: 10px;
    display: block;
    text-decoration: none;
}

.botao:hover{
    border: 2px solid #4405d8;
	opacity: 10;
	transform: translateX(0.5%) translateY(0.5%);
}

.painel {
    margin-right: 10px;
    border-width: thin;
    border-style: solid;
    flex-grow: 1;
    border-color:#003550;
    border-radius: 8px;
    max-width: 500px;
}

.conteudo-painel {
    padding: 10px;
}



